<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<h1>検索結果</h1>
<a href="/">一覧画面に戻る</a>

<!-- 検索ボックス -->
<div>
  <%= form_tag('/home/show', :method => 'get') do %>
    <input type="text" name="search">
    <input type="submit" value="検索">
  <% end %>

  <%= form_tag('/home/show', :method => 'get') do %>
    <input type="text" name="kana_search">
    <input type="submit" value="ひらがな検索">
  <% end %>
</div>

<!-- チェックボックス -->
<%= form_tag("/home/show", :method => 'get') do %>
<br>-------------------------------------------------<br>
  <% @sections.each do |section|%>
    <%= check_box "section", "#{section}" %><%=section%>
    <% if section == "飲食店" or section == "泊まる" or section == "観光" or section == "寺院・神社・宗教" %>
      <br>
    <% end %>
  <%end%>
<br>-------------------------------------------------<br>
  <% @initials.each do |initial|%>
    <%= check_box "initial", "#{initial}" %><%=initial%>
    <% if initial == "お" or initial == "こ" or initial == "そ" or initial == "と" or initial == "の" or initial == "ほ" or initial == "も" or initial == "よ" or initial == "ろ" or initial == "ん" %>
      <br>
    <% end %>
  <%end%>
  <input type="submit" value="条件を指定して検索">
<% end %>

<!-- 検索結果があった場合、表形式にて表示 -->
<% if @posts.present? %>
  <table border="1">
    <tr>
      <th>施設名</th>
      <th>かな</th>
      <th>停留所名</th>
      <th>頭文字</th>
      <th>のりば</th>
      <th>路線名</th>
      <th>備考</th>
      <th>区分</th>
      <th>map</th>
    </tr>

    <% @posts.each do |post| %>
      <tr>
        <td><%= post.place_name %></td>
        <td><%= post.hiragana %></td>
        <td><%= post.near_stop %></td>
        <td><%= post.initial %></td>
        <td><%= post.number %></td>
        <td><%= post.root %></td>
        <td><%= post.memo %></td>
        <td><%= post.section %></td>
        <td><%= link_to("map","https://www.google.com/maps") %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>条件に合う検索結果は見つかりませんでした</p>
<% end %>

</body>
</html>