<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<h1>一覧表示</h1>
<!-- 検索ボックス -->
<div>
  <%= form_tag('/home/show', :method => 'get') do %>
    <input type="text" name="search">
    <input type="submit" value="検索">
  <% end %>
</div>

<!-- チェックボックス -->
<%= form_tag("/home/show_check", :method => 'get') do %>
  <% @initials.each do |initial|%>
    <%= check_box "initial", "#{initial}" %><%=initial%>
    <% if initial == "お" or initial == "こ" or initial == "そ" or initial == "と" or initial == "の" or initial == "ほ" or initial == "も" or initial == "よ" or initial == "ろ" or initial == "ん" %>
      <br>
    <% end %>
  <%end%>
  <input type="submit" value="条件を指定して検索">
<% end %>

<!-- リストを全て表示 -->
<div>
  <table border="1">
    <tr>
      <th>施設名</th>
      <th>停留所名</th>
      <th>頭文字</th>
    </tr>

    <% @posts.each do |post| %>
      <tr>
        <td><%= post.place_name %></td>
        <td><%= post.near_stop %></td>
        <td><%= post.initial %></td>
      </tr>
    <% end %>
  </table>
</div>

<!-- マスタ登録 -->
<div>
  <p>（仮）マスタ登録</p>
  <%= form_tag('/home/master') do %>
    <div>
      施設名<input type="text" name="place_name">
    </div>
    <div>
      停留所名<input type="text" name="near_stop">
    </div>
    <div>
      頭文字<input type="text" name="initial">
    </div>
    <input type="submit" value="登録">
  <% end %>
</div>

</body>
</html>