<!DOCTYPE html>
<html lang="ja">
<head>

</head>
<body>  <meta charset="UTF-8">
  <link rel="stylesheet" href="css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

<h1>一覧表示</h1>
<!-- 検索ボックス -->
<div>
  <%= form_tag('/home/show', :method => 'get') do %>
    <input type="text" name="search">
    <input type="submit" value="検索">
  <% end %>
</div>


<!-- チェックボックス -->
<%= form_tag("/home/show", :method => 'get') do %>
<br>-------------------------------------------------<br>
  <% @sections.each do |section|%>
    <%= check_box "section", "#{section}" %><%=section%>
    <% if section == "飲食店" or section == "泊まる" or section == "観光" or section == "寺院・神社・宗教" %>
      <br>
    <% end %>
  <%end%>
<br>-------------------------------------------------<br>
  <% @initials.each do |initial|%>
    <%= check_box "initial", "#{initial}" %><%=initial%>
    <% if initial == "お" or initial == "こ" or initial == "そ" or initial == "と" or initial == "の" or initial == "ほ" or initial == "も" or initial == "よ" or initial == "ろ" or initial == "ん" %>
      <br>
    <% end %>
  <%end%>
  <input type="submit" value="条件を指定して検索">
<% end %>

<!-- リストを表形式で全て表示 -->
<div>
  <table border="1">
    <tr>
      <th>施設名</th>
      <th>かな</th>
      <th>停留所名</th>
      <th>頭文字</th>
      <th>のりば</th>
      <th>路線名</th>
      <th>備考</th>
      <th>区分</th>
      <th>変更</th>
      <th>更新日時</th>
    </tr>

    <% @posts.each do |post| %>
      <tr>
        <td><%= post.place_name %></td>
        <td><%= post.hiragana %></td>
        <td><%= post.near_stop %></td>
        <td><%= post.initial %></td>
        <td><%= post.number %></td>
        <td><%= post.root %></td>
        <td><%= post.memo %></td>
        <td><%= post.section %></td>
        <td>
          <%= link_to("変更", "/home/#{post.id}")%>
        </td>
        <td><%= post.updated_at %></td>
      </tr>
    <% end %>
  </table>
</div>

<!-- マスタ登録 -->
<div>
  <p>（仮）マスタ登録</p>
  <%= form_tag('/home/master') do %>
      施設名<input type="text" name="place_name"><br>
      かな<input type="text", name="hiragana"><br>
      停留所名<input type="text" name="near_stop"><br>
      頭文字<input type="text" name="initial"><br>
      のりば<input type="text" name="number"><br>
      路線名<input type="text" name="root"><br>
      備考<input type="text" name="memo"><br>
      区分<input type="text" name="section"><br>
    <input type="submit" value="登録">
  <% end %>
</div>



</body>
</html>